<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Start</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
	<h1>Start</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<a th:href="@{/agregar}">Crear Prestamo</a>
				<div th:if="${prestamos != null and !prestamos.empty}">
					<table class="table table-stryped">
						<thead class="bg-dark text-white">
							<tr>
								<th>Isbn</th>
								<th>Identificación Usuario</th>
								<th>Tipo Usuario</th>
								<th>Fecha Máxima Devolución</th>
								<th>Editar</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="prestamoLibro : ${prestamos}">
								<td th:text="${prestamoLibro.isbn}"></td>
								<td th:text="${prestamoLibro.identificacionUsuario}"></td>
								<td th:text="${prestamoLibro.tipoUsuario}"></td>
								<td th:text="${prestamoLibro.fechaMaximaDevolucion}"></td>
								<td> <a th:href="@{/editar/} + ${prestamoLibro.id}" th:text="Edit"/></td>
<!--								<td> <a th:href="@{/delete(idUser=${user.idUser})}" th:text="Delete"></td>-->
								<td> <a th:href="@{/eliminar/} + ${prestamoLibro.id}" th:text="Eliminar"/></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div th:if="${prestamos == null or prestamos.empty}">
					Empty List
				</div>
			</div>
		</div>
	</div>
</body>

</html>